<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Goblin</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Stylesheets -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

<div id="log"></div>
<form id="form">
    <input type="submit" value="Send"/>
    <input type="text" id="msg" size="64" autofocus aria-label="message"/>
</form>

<footer></footer>

<!-- JavaScripts -->
<script type="text/javascript" src="/js/index.js"></script>

</body>
</html>